<main>
    <section id="details-page">
        <h1>Details</h1>
        <article class="details-card">

            <article class="details-card-text">
                <h2>Title:<br> {{title}}</h2>
                <h3>Author: {{author.username}}</h3>
                <h3>Painting technique: {{paintingTechnique}}</h3>
                <h3>Certificate of authenticity: {{certificate}}</h3>

                <!-- If there is no registered user, do not display buttons-->
                <div class="buttons">
                    <!-- Only for registered user and author of the publication -->
                {{#if isAuthenticated}}
                    {{#if isOwner}}
                    <a href="/art/{{_id}}/edit" class="btn-edit">Edit</a>
                    <a href="/art/{{_id}}/delete" class="btn-delete">Delete</a>
                    <!-- logged in user who has not yet shared the publication-->
                    {{else}}
                        {{#if isShared}}
                        <p class="shared-pub">You already shared this publication</p>
                        <!-- logged in user who has already shared the publication-->
                        {{else}}
                        <a href="/art/{{_id}}/shared" class="btn-share">Share publication</a>
                        {{/if}}
                    {{/if}}
                {{/if}}
                </div>

            </article>

            <article class="details-card-image">
                <img src="{{artPicture}}" alt="art-image2">
            </article>

        </article>
    </section>
</main>